<%= @cocktail_name %>

<% @cocktails.each{ |cocktail| %>
  <div class="cocktail-box" onclick="window.location.href = '/cocktail/<%= cocktail["idDrink"]%>'; ">
    <%= cocktail["idDrink"] %>
    <%= cocktail["strDrink"] %>
    <img src=<%= cocktail["strDrinkThumb"] %> alt="<%=cocktail["strDrink"] %> image" />
  </div>
<% } %>
