<h2><%= @name %></h2>

<div class="cocktail-content">
  <img src=<%= @image %> />
  <div class="cocktail-info">
    <span><h4>Instructions: </h4><%= @instructions %></span>
    <span><h4>Glass: </h4><%= @glass %></span>
    <span>
      <h4>Ingredients</h4>
      <table>
        <tbody>
          <% @ingredientArr.each{ |ingredient| %>
            <tr>
              <td><a href="/cocktail_ingredient/<%=ingredient[0]%>"><%=ingredient[0]%></a></td>
              <td><%=ingredient[1]%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </span>
    <p>Click on ingredient to find other drinks with that ingredient</p>
  </div>
  <form method="post" action="/add_favorite/<%= @id %">
    <button>Add to favorites</button>
  </form>
  
</div>
